image: node:20

cache:
  paths:
    - node_modules/

stages:
  - build
  - deploy

build:
  stage: build
  before_script:
    - npm install -g bun
  script:
    - bun install --frozen-lockfile
    - bun run build
  artifacts:
    paths:
      - build/
    expire_in: 1 hour
  only:
    - main
    - master

pages:
  stage: deploy
  dependencies:
    - build
  script:
    - mkdir -p public
    - cp -r build/. public/
  artifacts:
    paths:
      - public
  only:
    - main
    - master

